<a href="https://colab.research.google.com/github/ashutosh12mar/Foreign-Key-Web/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas---Dataframes**

**Dataframes are created by**

A dictionary of 1D ndarrays, lists, dicts, or Series.

In [1]:
import numpy as np
import pandas as pd
runs=pd.Series([10,100,50,420])
wickets=pd.Series([1,2,3,420])
data= {"Runs":runs,"Wickets":wickets}
df=pd.DataFrame(data)
print(df)

   Runs  Wickets
0    10        1
1   100        2
2    50        3
3   420      420

In [2]:
import numpy as np
import pandas as pd 
runs=pd.Series([12,13,34,56,56])
out=pd.Series([6,5,4,3,8])
data={"Runs":runs,"Out":out}
df=pd.DataFrame(data)
print(df)

   Runs  Out
0    12    6
1    13    5
2    34    4
3    56    3
4    56    8

In [5]:
import numpy as np
import pandas as pd
age=pd.Series([10,12,16,18,21,25])
parents=pd.Series([45,50,56,43,52,70])
data={"age":age,"parents":parents}
df=pd.DataFrame(data)
print(df)

   age  parents
0   10       45
1   12       50
2   16       56
3   18       43
4   21       52
5   25       70

In [6]:
import numpy as np
import pandas as pd
runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
runseries=pd.Series(runs,index=names)
wicketseries=pd.Series(wickets,index=names)
data= {"Runs" : runseries, "Wickets" : wicketseries}
df=pd.DataFrame(data)
print(df)

        Runs  Wickets
Sachin    10        1
Rahul    100        2
Dhoni     50        3
Pappu    420      420

In [10]:
import numpy as np
import pandas as pd
days=[7,6,5,4,12,11]
time=[1,3,2,4,5,2]
names=["Harsh","Sachin","Rohit","Chandan","Aman","Mohit"]
dayseries=pd.Series(days,index=names)
timeseries=pd.Series(time,index=names)
data={"Days":dayseries,"Time":timeseries}
df=pd.DataFrame(data)
print(df)

         Days  Time
Harsh       7     1
Sachin      6     3
Rohit       5     2
Chandan     4     4
Aman       12     5
Mohit      11     2

In [11]:
import numpy as np
import pandas as pd
runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"Runs" : runs, "Wickets" : wickets}
df=pd.DataFrame(data,index=names)
print(df)

        Runs  Wickets
Sachin    10        1
Rahul    100        2
Dhoni     50        3
Pappu    420      420

rearrange columns

In [12]:
import numpy as np
import pandas as pd
runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"runs" : runs, "wickets" : wickets}
print(data)
df=pd.DataFrame(data,index=names , columns=['wickets','runs'])
print(df)

{'runs': [10, 100, 50, 420], 'wickets': [1, 2, 3, 420]}
        wickets  runs
Sachin        1    10
Rahul         2   100
Dhoni         3    50
Pappu       420   420

In [16]:
import numpy as np
import pandas as pd
labours=[1,3,4,5,7,8,9]
area=[10,23,22,21,45,32,11]
names=["Hash","Rohit","Mohit","Sachin","Aman","Chandan","Ashutosh"]
data={"labours":labours,"area":area}
print(data)
df=pd.DataFrame(data,index=names , columns=['area','labours'])
print(df)

{'labours': [1, 3, 4, 5, 7, 8, 9], 'area': [10, 23, 22, 21, 45, 32, 11]}
          area  labours
Hash        10        1
Rohit       23        3
Mohit       22        4
Sachin      21        5
Aman        45        7
Chandan     32        8
Ashutosh    11        9

**Accessing Rows and Columns**

In [17]:
import numpy as np
import pandas as pd
runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"runs" : runs, "wickets" : wickets}
print(data)
df=pd.DataFrame(data,index=names , columns=['wickets','runs'])
print(df)
print("Index",df.index)
print("Columns",df.columns)
print("Col 0",df.columns[0])
print("Wickets",df["wickets"])
x=df.loc["Sachin"]
print("Sachin",x)
x=df.loc["Sachin",:]
print("Sachin",x)

{'runs': [10, 100, 50, 420], 'wickets': [1, 2, 3, 420]}
        wickets  runs
Sachin        1    10
Rahul         2   100
Dhoni         3    50
Pappu       420   420
Index Index(['Sachin', 'Rahul', 'Dhoni', 'Pappu'], dtype='object')
Columns Index(['wickets', 'runs'], dtype='object')
Col 0 wickets
Wickets Sachin      1
Rahul       2
Dhoni       3
Pappu     420
Name: wickets, dtype: int64
Sachin wickets     1
runs       10
Name: Sachin, dtype: int64
Sachin wickets     1
runs       10
Name: Sachin, dtype: int64

In [21]:
import numpy as np
import pandas as pd
passed=[1,3,4,2,4,5,8,7]
fails=[1,2,3,4,5,6,7,8]
names=["a","b","c","d","e","f","g","h"]
data={"passed":passed,"fails":fails}
print(data)
df=pd.DataFrame(data,index=names , columns=['fails','passed'])
print(df)
print("Index",df.index)
print("Columns",df.columns)
print("Col 0",df.columns[0])
print("fails",df["fails"])
x=df.loc["d"]
print("d",x)
x=df.loc["d",:]
print("d",x)

{'passed': [1, 3, 4, 2, 4, 5, 8, 7], 'fails': [1, 2, 3, 4, 5, 6, 7, 8]}
   fails  passed
a      1       1
b      2       3
c      3       4
d      4       2
e      5       4
f      6       5
g      7       8
h      8       7
Index Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
Columns Index(['fails', 'passed'], dtype='object')
Col 0 fails
fails a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
Name: fails, dtype: int64
d fails     4
passed    2
Name: d, dtype: int64
d fails     4
passed    2
Name: d, dtype: int64

In [22]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
runs={"Sachin":100,"Pappu":420,"Saubhagya":1}
wickets={"Sachin":1,"Pappu":420}
data=[runs,wickets]
index=["Runs","Wickets"]
df=pd.DataFrame(data,index)
print(df)
df.to_csv("h:\\csv\\scores.csv")
df.to_excel("h:\\csv\\scores.xlsx")

         Sachin  Pappu  Saubhagya
Runs        100    420        1.0
Wickets       1    420        NaN

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
age={"Mohit":19,"Parmod":520,"Harsh":421}
height={"Mohit":1,"Parmod":520}
data=[age,height]
index=["Age","Height"]
df=pd.DataFrame(data,index)
print(df)
df.to_csv("h:\\csv\\scores.csv")
df.to_csv("h\\csv\\scores.csv")

        Mohit  Parmod  Harsh
Age        19     520  421.0
Height      1     520    NaN